ScanDirectory/
FileUtilityLibrary/obj/
FileUtilityTests/obj/
AMCustomerImportInspector/obj/
AMCustomerImportInspector/bin/
AMDirectoryWatcher/bin/
FileUtilityTests/bin/
packages/
AMDirectoryWatcher/obj/
TestResults/
DirectoryToWatch/
FileUtilityLibrary/bin/
MoveDirectory/
