<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="AMCustomerImportInspector.Properties.Settings._67_BLANKETSConnectionString" connectionString="Data Source=2a00:47c0:311:1233:1d3a:da82:1f74:be32,1444;Initial Catalog=67_BLANKETS;User ID=sa;Password=Passw0rd;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
    <add name="Blankets" connectionString="metadata=res://*/DataAccess.CustomerImportModel.csdl|res://*/DataAccess.CustomerImportModel.ssdl|res://*/DataAccess.CustomerImportModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=2a00:47c0:311:1233:1d3a:da82:1f74:be32,1444;initial catalog=67_BLANKETS;user id=sa;password=Passw0rd;connect timeout=30;encrypt=False;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="DirectoryToWatch" value="C:\Client\Britehouse\AMDevelopment\FileScannerConsole\DirectoryToWatch" />
    <add key="ScannedDirectoryFound" value="Import"/>
    <add key="ScannedDirectoryReplace" value="Scanned"/>
  </appSettings>
</configuration>