<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="CLIENTLISTEntities" connectionString="metadata=res://*/DataAccess.CustomerImportModel.csdl|res://*/DataAccess.CustomerImportModel.ssdl|res://*/DataAccess.CustomerImportModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=2a00:47c0:311:1233:1d3a:da82:1f74:be32,1444;initial catalog=CLIENTLIST;persist security info=True;user id=sa;password=Passw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <log4net>
    <root>
      <level value="INFO" />
      <appender-ref ref="MyAppender" />
    </root>
    <appender name="MyAppender" type="log4net.Appender.FileAppender">
      <file value="application.log" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %logger - %message%newline" />
      </layout>
    </appender>
  </log4net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="DirectoryToWatch" value="C:\Client\Britehouse\AMDevelopment\FileScannerConsole\DirectoryToWatch" />
    <add key="ScannedDirectoryFound" value="Uploads" />
    <add key="ScannedDirectoryReplace" value="Scanned" />
    <!--<add key="EmailURL" value="za-smtp-1.mimecast.co.za"/>
    <add key="EmailPort" value="21"/>
    <add key="EMailUser" value="notifications@advancemobility.co.za"/>
    <add key="EMailPassword" value=""/>-->
    <add key="EmailURL" value="smtp.gmail.com" />
    <add key="EmailPort" value="587" />
    <add key="EMailUser" value="bminnaar@gmail.com" />
    <add key="EMailPassword" value="Wkc121bemb@w" />
    <add key="EmailSupportAddress" value="bminnaar@gmail.com" />
  </appSettings>
</configuration>